  
  /*Style for SUPER FAN */
  
  * {
    box-sizing:border-box;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: #ffff;
    font-family: 'Oswald', sans-serif;

  }/* NAVBAR SECTION */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: white;
    font-size: medium;
    
  }

  .navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
  }

  .navbar-links li {
    list-style: none;
  }

  .navbar-links li a {
    text-decoration: none;
    font-size: 1.5rem;
    color:black;
    padding: 1.5rem;
    display: block;
  }

.navbar img {
  width: 100px;

}

/* NAVBAR HOVER */
.navbar-links li:hover {
  background-color: #03989e;
  border-radius: 15%;
}

.toggle-button {
  position: absolute;
  top: .7rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #03989e;
  border-radius: 10px;
}

  /* BRAND */
  .brand-title {
    font-size: 3rem;
    margin:1.5rem;
    text-align: center;
    align-items: center;
  }

  h1 {
    text-align: center;
  }


header img, section img {
  width: 100%;
  height: 50%;
  padding-bottom: 30px;
  padding-top: 30px;
}



.label {
  font-size: .625rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: +1.3px;
  margin-bottom: 1rem;
}

/* ABOUT US SECTION */
.about-us {
  text-align: center;
  
}

.developers {
  background-color: #03989e;
  display: flex;
  justify-content: space-evenly;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.developers article img {
  border-radius: 15%;
  border-color: white;
  border-style: solid;
}


.about-us-img {
  width: 250px;
  height: 250px;
  
}

.button {
  background-color: #04AA6D;
  font-size: 18px; 
  font-family: Helvetica, Arial, sans-serif; 
  font-weight: bold;
  text-decoration: none;
  padding: 14px 20px;
  color: #ffffff;
  border-radius: 5px;
  display: inline-block;
  
}

/* CONTACT US HOVER */
input[type=submit]:hover , .button:hover{
  background-color: #0c2450;
}


/* CONTACT FORM */

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

/* CONTACT US -BUTTON-*/
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* CONTAC US -CONTAINER- */
.container {
  border-radius: 5px;
  background-color: #03989e;
  padding: 20px;
  width: 50%;
  font-size: 1.5rem;
  padding-bottom: 15px;
  margin-bottom: 15px;

}



  @media (max-width: 600px) {
    .toggle-button {
      display:flex;
    }

    .navbar-links {
      display: none;
      width: 100%;
    }

    .navbar {
      flex-direction: column;
      align-items: flex-start;
    
    }
    .navbar-links ul {
      width: 100%;
      flex-direction: column;
    }

    .navbar-links li {
      text-align: center;
    }

    .navbar-links li a {
      padding: .5rem 1rem;
    }

    .navbar-links.active {
      display: flex;
    }
  }


  footer {
        text-align: center;
  }


  